@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Staatliches&display=swap');

.header {
    height: 420px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../img/background_header2.png');
    

    &__text {
        height: 100%;
        width: 20%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 72px;
        color: white;
        font-family: 'Staatliches', cursive;
    }
}

.inf{
    width: 70%;
    margin: 3% auto;
    font-family: 'Open Sans', sans-serif;

    &__title{
        font-size: 60px;
        margin-bottom: 1%;
    }

    &__block{
        display: flex;
        align-items: center;
        margin-top: 15px;
        width:95%;
        height: 90%;
        font-size: 24px;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 2px;
        padding: 0 10px;
        justify-content: space-between;
        

        
    }
    
    &__block:hover{
        border: 1px solid rgb(76, 156, 76);
    }

    &__icons{
            &__calendar{
                padding: 0 10px;
                transition: 3s;
            }

            &__calendar svg:hover {
                stroke: rgb(76, 156, 76);
            }

            &__teams svg:hover {
                stroke: rgb(76, 156, 76);
            }
        }

    
    &__season{
        display: flex;
        margin: 30px 0;

        

        
        
    }

    &__select{
            margin: 0 30px;
            display: flex;
            align-items: center;
            width: 200px;
            position: relative;
        }

    &__seasonText{
            font-size: 40px;
        }

    &__select::after{
        content: "";
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: rgb(199, 199, 199) transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 1;
        margin-top: -3px;
    }

    &__selector{
        width: 100%;
        height: 100%;
        padding: .6em 1.4em .5em .8em;
        border: rgb(199, 199, 199) solid 1px;
        appearance: none;
    }

    &__selector:hover{
        border-color: rgb(76, 156, 76);
    }

    &__content{
        width: 100%;
        margin-top: 1%;
        &__table{
            width: 100%;
        }

        &__table tr{
            margin:30px 0;
            text-align: center;
        }

        &__table td{
            padding: 1% 0;
            border: 1px solid rgb(199, 199, 199);
        }

        &__teams td:nth-child(1) {
        text-align: left;
        padding: 10px;
        width: 80%;
        }
        &__teams td:nth-child(2) {
            width: 10%;
            height: 100%;
        }
        &__teams td:nth-child(3) {
            width: 10%;
        }

        
    }

    &__blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__blocks li{
        width: 20%;
    }

    &__form{
        margin: 1% 0;
        &__search{
            &__input{
                width: 19%;
                padding: 1%;
                border: rgb(199, 199, 199) 1px solid;
            }

            &__input:hover{
                border: rgb(76, 156, 76) 1px solid;
            }
        }
    }
}


